<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @admin_user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @admin_user.password %>
</p>

<p>
  <b>Mail:</b>
  <%= @admin_user.mail %>
</p>

<p>
  <b>Created at:</b>
  <%= @admin_user.created_at %>
</p>

<p>
  <b>Login:</b>
  <%= @admin_user.login %>
</p>
